# ---------------------------------------------------------------- #
# Android / Gradle
# ---------------------------------------------------------------- #

/build
.gradle
*/build
!*/build/intermediates/cxx/

local.properties
*.log
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/assetManagers.xml
.idea/codeStyles/
.idea/navEditor.xml
.idea/vcs.xml

captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
output-metadata.json

*.jks
*.keystore
*key.properties

.DS_Store
Thumbs.db